* {
  box-sizing: border-box;
}
.post {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 397px;
  border-radius: 25px;
  border: 1px solid #d3d3d3;
}

.post-self {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 40px;
  width: 409.02px;
  height: 151px;
  /* border: 1px solid #d3d3d3; */
}
.Group40 {
  display: flex;
  width: 161.58px;
  height: 76.81px;
  /* border: 1px solid #d3d3d3; */
}
.Ellipse24 {
  width: 75.19px;
  height: 75px;
  background: #d3d3d3;
  border-radius: 50px;
  border: 1px solid #d3d3d3;
}
.user {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  margin-left: auto;
  width: 74.37px;
  height: 58.81px;
  /* border: 1px solid #d3d3d3; */
}
.name {
  font-family: Outfit;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.timestamp {
  font-family: Outfit;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #909090;
}

.text1 p {
  margin-top: 15.38px;
  width: 409.02px;
  height: 58.81px;
  /* border: 1px solid #d3d3d3; */
  font-family: Outfit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.main-func,
.likes,
.comment {
  align-self: center;
}

.main-func {
  display: flex;
  align-items: center;
  margin-top: 41px;
  width: 630px;
  height: 50px;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}
.Ellipse40 {
  margin-left: 5px;
  width: 30px;
  height: 30px;
  top: 222px;
  left: 40px;
  border-radius: 50px;
  background: #f85c53;
}
.Ellipse41 {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  top: 222px;
  left: 40px;
  border-radius: 50px;
  background: #d3d3d3;
}
.likes {
  display: flex;
  margin-top: 10px;
  width: 700px;
  height: 35px;
  border-bottom: 1px solid #d3d3d3;
  justify-content: space-between;
}
.numbs-likes {
  margin-left: 35px;
  width: 219.54;
  height: 25px;
  /* border: 1px solid #d3d3d3; */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #5c5c5c;
}
.numbs-messages {
  margin-right: 35px;
  width: 129px;
  height: 25px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
  color: #5c5c5c;
}
.comment {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  width: 620px;
  height: 50px;
}
.leave-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 555.47px;
  height: 50px;
  background-color: #f0f0f0;
  border-radius: 30px;
  border: 1px solid #f0f0f0;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #777777;
}
a:hover {
  text-decoration: underline;
}
